<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">02.07.2020 Fin du projet.<span class="small"><br><a href="https://media1.giphy.com/media/YSTY07j6JhX5hICVdi/giphy.gif?cid=ecf05e4733de6dd9349899de6f50f6df0a9f5773f1285362&rid=giphy.gif" target="_blank">La suite à venir.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020.05.10</div>
        </div>
  </div>
</footer>
