{% extends "base.html" %}
{% block title %} Afficher BOOKS {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
						<th class="" >
						  Icon
						</th>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Titre
                        </th>
                        <th class="align-middle">
                            Isbn
                        </th>
                        <th class="align-middle">
                            date
                        </th>
                        <th class="align-middle">
                            Country
                        </th>
                        <th class="align-middle">
                            Publieur
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td>
							<img src="https://icon-library.com/images/books-icon-png/books-icon-png-11.jpg" alt="icone" width="50" height="50">
						</td>
						<td class="align-middle">
							{{ row.id_Books }}
						</td>
						<td class="align-middle">
							{{ row.Titre_Books }}
						</td>
						<td class="align-middle">
							{{ row.Isbn_Books|default("", True) }}
						</td>
						<td class="align-middle">
							{{ row.Date_Books|default("", True) }}
						</td>
						<td class="align-middle">
							{{ row.Country_Books|default("", True) }}
						</td>
						<td class="align-middle">
							{{ row.Publieur_Books|default("", True) }}
						</td>

						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun book.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}
