{% extends "base.html" %}
{% block title %} Afficher BOOKS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Icon
						</th>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Titre
						</th>
						<th class="" >
						  Isbn
						</th>
						<th class="" >
						  Date
						</th>
						<th class="" >
						  Country
						</th>
						<th class="" >
						  Publieur
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					<th>
							<img src="https://library.kissclipart.com/20181002/vuq/kissclipart-complaint-clipart-complaint-logo-clip-art-3cbc5ec5acf6f912.png" alt="icone" width="50" height="50">
						</th>
					  <th class="align-middle">
						  {{ row.id_Books }}
					  </th>
					  <th class="align-middle">
						{{ row.Titre_Books }}
					  </th>
					  <th class="align-middle">
						{{ row.Isbn_Books|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.Date_Books|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.Country_Books|default("", True) }}
					  </th>
					<th class="align-middle">
						{{ row.Publieur_Books|default("", True) }}
					  </th>

					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('gf_edit_genre_film_selected', id_Books_genres_edit_html=row.id_Books) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.GenresFilms|default("PAS DE GENRES", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun book.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
